.doubt {
  min-height: 193px;
}
.doubt__title {
  display: block;
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
}
.doubt__text {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: #333333;
}

