.doubt {
  min-height: 172px;
}

.doubt__title {
  display: block;
  margin: 0;
  padding-top: 13px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
}

.doubt__text {
  display: block;
  padding-top: 15px;
  padding-left: 43px;
  padding-right: 41px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: #333333;
}

@media (min-width: @tablet-width) {
  .doubt {
    min-width: 415px;
    min-height: 98px;
    padding-left: 18px;
    padding-right: 20px;
    padding-bottom: 44px;
  }

  .doubt__title {
    padding-top: 67px;
    font-size: 30px;
    line-height: 26px;
  }

  .doubt__text {
    padding-top: 18px;
    padding-left: 159px;
    padding-right: 159px;
  }
}

@media (min-width: @desktop-width) {
  .doubt {
    padding-top: 4px;
    padding-left: 223px;
    padding-right: 284px;
  }
}
