/*Это секция интро отзыва*/
.feedback {
  position: relative;
  display: block;
  width: 100%;
  min-height: 162px;
  text-align: center;
  padding: 21px 9px 3px 9px;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #333333;
    opacity: 0.1;
    z-index: 1;
  }
}

.feedback__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.feedback__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
}

/*Здесь начинается блок "Представьтесь"*/
.feedback__form {
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

/*Здесь fieldsets*/
.feedback__fieldset-represent,
.feedback__contact-information,
.feedback__general-impression,
.feedback__visited-attractions,
.feedback__emotions {
  .setting-fieldset();
}

.feedback__fieldset-represent::after,
.feedback__contact-information::after,
.feedback__general-impression::after,
.feedback__visited-attractions::after {
  .line-bottom();
}

.feedback__user-title {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 21px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
}

/*Здесь общие стили списка, пунктов, label и input*/
.feedback__list-wrapper {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 4px;
  list-style: none;
  padding: 0;
}

.feedback__item {
  display: flex;
  width: 279px;
  padding-bottom: 21px;
  align-items: center;
}

.feedback__user-label {
  font-size: 14px;
  line-height: 1.86;
  text-align: left;
  color: #333333;
  text-transform: uppercase;
}

.feedback__user-text {
  width: 100%;
  height: 58px;
  padding: 0;
  padding-left: 22px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: @form-input;
  border-style: none;
  outline: none;
  color: #000000;
}

/*Здесь стили выравнивания*/
.feedback__user-name {
  margin-top: 4px;
  margin-right: 12px;
}

.feedback__user-represent {
  padding-right: 23px;
}

.feedback__user-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.feedback__user-surname {
  margin-right: 13px;
}

.feedback__input-surname {
  padding-left: 22px;
}

.feedback__user-patronymic {
  margin-right: 16px;
}

/*Это блок "Контактная информация"*/
.feedback__legend-contact {
  padding-left: 0;
}

.feedback__contact-phone {
  margin-left: 22px;
}

.feedback__contact-phone-desctop {
  display: none;
}

.feedback__input-phone {
  margin-top: 7px;
  padding-left: 22px;
  margin-bottom: 12px;
}

.feedback__email {
  margin-left: 22px;
}

.feedback__input-email {
  margin-top: 7px;
  margin-bottom: 29px;
}

.feedback__contact-wrapper {
  position: relative;
  min-width: 280px;

  &--phone::after {
    position: absolute;
    content: "";
    top: 33px;
    left: 222px;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-image: url(../../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &--mail::after {
    position: absolute;
    content: "";
    top: 33px;
    left: 222px;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-image: url(../../img/icon-mail.svg);
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

/*Это блок "Общие впечатления"*/
.feedback__radio-list {
  list-style: none;
  margin-bottom: 43px;
}

.feedback__radio-input + .feedback__radio-label::before {
  position: absolute;
  content: "";
  top: -12px;
  left: -39px;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 50%;
  z-index: 0;
}

.feedback__radio-input:checked + .feedback__radio-label::after {
  position: absolute;
  content: "";
  top: 4px;
  left: -23px;
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 50%;
  z-index: 1;
}

.feedback__radio-input {
  display: none;
}

.feedback__radio-item {
  position: relative;
  margin-bottom: 44px;
}

.feedback__radio-label {
  margin-left: 39px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

/*Это блок "Посещенные достопримечательности"*/
.feedback__attractions-list {
  padding: 0;
  margin-bottom: 0;
  margin-top: 14px;
  list-style: none;
}

.feedback__attractions-item {
  position: relative;
  margin-bottom: 55px;

  &:last-child {
    margin-bottom: 42px;
  }
}

.feedback__checkbox-input + .feedback__checkbox-label::before {
  position: absolute;
  content: "";
  top: -15px;
  left: -1px;
  width: 56px;
  height: 56px;
  border: solid 5px @form-input;
  border-radius: 5px;
  background-color: @form-input;
}

.feedback__checkbox-input:checked + .feedback__checkbox-label::before {
  position: absolute;
  content: "";
  top: -15px;
  left: -1px;
  width: 56px;
  height: 56px;
  border: solid 5px @form-input;
  border-radius: 5px;
  background-color: @form-input;
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.feedback__checkbox-input {
  display: none;
}

.feedback__checkbox-label {
  position: relative;
  margin-left: 2px;
  padding-left: 76px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
}

/*Это блок "Опишите свои эмоции"*/
.feedback__comment-textarea {
  width: 279px;
  height: 160px;
  margin-bottom: 44px;
  padding: 0;
  border-style: none;
  background-color: @form-input;

  &::placeholder {
    padding-top: 13px;
    padding-left: 20px;
    font-family: "PTSans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #000000;
  }
}

.feedback__comment-send {
  display: block;
  width: 280px;
  height: 58px;
  padding-top: 16px;
  padding-right: 27px;
  padding-bottom: 21px;
  padding-left: 27px;
  margin-bottom: 73px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: @light-blue;
  border-style: none;
  cursor: pointer;
  color: #ffffff;
}

.feedback__emotions-info {
  display: none;
}

/*Отзыв отправлен*/
.feedback__modal-windows-shipped--closed {
  display: none;
}

.feedback__modal-windows-shipped {
  position: relative;
  display: block;
  min-width: 320px;
  min-height: 323px;
  margin-left: -20px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.feedback__modal-windows-title {
  padding-top: 49px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: black;
}

.feedback__modal-windows-text {
  padding-bottom: 26px;
  padding-right: 54px;
  padding-left: 52px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.feedback__modal-button-wrapper {
  position: absolute;
  content: "";
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 98px;
  background-color: #f2f2f2;
}

.feedback__modal-button {
  .feedback__modal-button();
}

.feedback__modal-button:hover {
  .feedback__modal-button-hover();
}

.feedback__modal-button:active {
  .feedback__modal-button-active();
}

/*Отзыв  НЕ отправлен*/
.feedback__modal-windows-unsent--closed {
  display: none;
}

.feedback__modal-windows-unsent {
  display: block;
  min-width: 320px;
  margin-left: -20px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.feedback__text-unsent {
  margin-bottom: 3px;
}

.feedback__modal-unsent {
  min-width: 180px;
  margin-top: 0;
  margin-bottom: 35px;
  margin-left: 70px;
  margin-right: 70px;
}

@media (min-width: @tablet-width) {
  .feedback__fieldset-represent::after,
  .feedback__contact-information::after,
  .feedback__visited-attractions::after {
    display: none;
  }
  /*Это секция интро отзыва*/
  .feedback {
    min-width: 439px;
    min-height: 103px;
    padding-top: 50px;

    &::after {
      display: none;
    }
  }

  .feedback__title {
    font-size: 30px;
    line-height: 0.87;
    padding-bottom: 5px;
  }

  .feedback__text {
    padding-left: 154px;
    padding-right: 154px;
    line-height: 1.71;
  }

  .feedback__form {
    min-width: 768px;
    margin-bottom: 59px;
    padding-left: 60px;
    padding-top: 59px;
  }

  .feedback__user-title {
    margin-bottom: 56px;
    padding: 0;
    font-size: 21px;
    text-align: start;
  }

  /*Расставляем очередность*/
  /*Блок Общее впечатление*/
  .feedback__general-impression {
    position: relative;
    width: 50%;
    order: 1;

    &::after {
      position: absolute;
      top: 5px;
      left: 323px;
      width: 1px;
      height: 292px;
    }
  }

  .feedback__radio-list {
    height: 250px;
    margin-bottom: 19px;
  }

  .feedback__radio-item {
    margin-bottom: 54px;
  }

  .feedback__radio-label {
    margin-left: 35px;
  }
  /*Блок Представьтесь*/
  .feedback__fieldset-represent {
    width: 50%;
    padding-left: 40px;
    order: 2;
  }

  .feedback__item {
    width: 264px;
  }

  /*Блок Контактная информация*/
  .feedback__contact-information {
    width: 100%;
    margin-bottom: 30px;
    order: 3;
  }

  .feedback__legend-contact {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 185px;

    &::after {
      position: absolute;
      content: "";
      top: 48%;
      left: 525px;
      width: 123px;
      height: 1px;
      background-color: #333333;
      opacity: 0.1;
    }

    &::before {
      position: absolute;
      content: "";
      top: 48%;
      left: 0;
      width: 125px;
      height: 1px;
      background-color: #333333;
      opacity: 0.1;
    }
  }

  .feedback__contact-wrapper {
    margin-bottom: 11px;
  }

  .feedback__contact-wrapper--phone::after {
    left: 591px;
  }

  .feedback__contact-wrapper--mail::after {
    left: 590px;
  }

  .feedback__input-email {
    margin-bottom: 12px;
  }

  /*Блок Посещенные достопримечательности*/
  .feedback__visited-attractions {
    width: 100%;
    order: 4;
  }

  .feedback__visited-attractions-title {
    width: 365px;
    text-align: center;
    margin-bottom: 42px;
    padding-right: 39px;

    &::after {
      position: absolute;
      content: "";
      top: 25px;
      left: 525px;
      width: 123px;
      height: 1px;
      background-color: #333333;
      opacity: 0.1;
    }

    &::before {
      position: absolute;
      content: "";
      top: 25px;
      left: 0;
      width: 125px;
      height: 1px;
      background-color: #333333;
      opacity: 0.1;
    }
  }

  .feedback__attractions-list {
    display: flex;
    min-width: 600px;
    max-height: 200px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .feedback__attractions-item {
    width: 50%;
    margin-bottom: 63px;
    align-items: center;

    &:nth-child(1) {
      width: 30%;
      margin-left: 76px;
    }

    &:nth-child(3) {
      width: 30%;
      margin-left: 76px;
    }
  }

  /*Блок Опиши свои эмоции*/
  .feedback__emotions {
    margin-top: 22px;
    width: 100%;
    order: 5;
  }

  .feedback__comment-title {
    padding-left: 198px;

    &::after {
      position: absolute;
      content: "";
      top: 12px;
      left: 525px;
      width: 123px;
      height: 1px;
      background-color: #333333;
      opacity: 0.1;
    }

    &::before {
      position: absolute;
      content: "";
      top: 12px;
      left: 0;
      width: 125px;
      height: 1px;
      background-color: #333333;
      opacity: 0.1;
    }
  }

  .feedback__comment-textarea {
    width: 648px;
    margin-bottom: 54px;
    padding-left: 12px;

    &::placeholder {
      padding-top: 16px;
      padding-left: 9px;
    }
  }

  .feedback__comment-send {
    width: 324px;
    padding-left: 12px;
    margin-bottom: 0;
    order: 6;
  }

  .feedback__emotions-info {
    display: block;
    width: 162px;
    height: 11px;
    margin-top: 18px;
    margin-left: 162px;
    font-family: "PTSans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: right;
    text-transform: uppercase;
    order: 7;
    color: #333333;
  }

  .feedback__user {
    display: flex;
    flex-wrap: wrap;
  }

   /*Отзыв отправлен*/
   .feedback__modal-windows-shipped {
    width: 640px;
    height: 347px;
    margin-left: 7px;
  }

  .feedback__modal-button-wrapper {
    min-height: 146px;
  }

  .feedback__modal-shipped {
    width: 458px;
  }

  .feedback__title-shipped {
    font-size: 30px;
    line-height: 0.87;
  }

  .feedback__modal-windows-text {
    padding-right: 114px;
    padding-left: 112px;
  }
  /*Отзыв  НЕ отправлен*/
  .feedback__modal-windows-unsent {
    max-width: 400px;
    max-height: 347px;
  }

  .feedback__title-unsent {
    font-size: 30px;
    line-height: 1.33;
    padding-left: 75px;
    padding-right: 75px;
  }

  .feedback__text-unsent {
    padding-right: 62px;
    padding-left: 61px;
  }

  .feedback__modal-unsent {
    width: 272px;
    margin-bottom: 60px;
    margin-left: 64px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    padding-top: 88px;
  }

  .feedback__text {
    padding-left: 351px;
    padding-right: 354px;
  }

  .feedback__form {
    min-width: 980px;
    margin-bottom: 110px;
    padding-top: 43px;
    padding-right: 0;
    padding-left: 10px;
  }

  /*Блок Представьтесь*/
  .feedback__fieldset-represent {
    padding-left: 76px;
  }

  .feedback__list-wrapper {
    margin-right: 0;
  }

  .feedback__item {
    width: 400px;
  }

  /*Блок Общее впечатление*/
  .feedback__general-impression {
    padding-left: 5px;
  }

  .feedback__radio-list {
    margin-bottom: 17px;
  }

  .feedback__general-impression-title {
    padding-left: 75px;
  }

  .feedback__general-impression::after {
    left: 480px;
  }

  /*Блок Контактная информация*/
  .feedback__contact-information {
    margin-bottom: 31px;
  }

  .feedback__contact-information-wrapper {
    display: flex;
    flex-direction: row;
  }

  .feedback__contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 401px;
  }

  .feedback__legend-contact {
    padding-left: 341px;
    margin-bottom: 66px;

    &::before {
      width: 279px;
    }

    &::after {
      left: 681px;
      width: 279px;
    }
  }

  .feedback__contact-phone {
    margin-left: 0;
    margin-right: 15px;
  }

  .feedback__contact-wrapper {

    &--phone::after {
      left: 343px;
      top: 8px;
    }

    &--mail::after {
      left: 501px;
      top: 8px;
    }
  }

  .feedback__email {
    margin-left: 78px;
    width: 260px;
  }

  .feedback__input-email {
    width: 87%;
  }

  .feedback__contact-phone-span {
    display: none;
  }



  /*Блок Посещенные достопримечательности*/
  .feedback__visited-attractions-title {
    padding-right: 10px;

    &::before {
      width: 281px;
    }

    &::after {
      left: 681px;
      width: 281px;
    }
  }

  .feedback__attractions-list {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0;
    margin-bottom: 62px;
  }

  .feedback__attractions-item {
    width: 258px;
    margin-left: 0;
    margin-bottom: 0;
    padding-right: 66px;

    &:nth-child(1) {
      width: inherit;
      margin-left: 0;
    }

    &:nth-child(3) {
      width: inherit;
      margin-left: 0;
    }

    &:last-child {
      width: 210px;
      margin-bottom: 0;
      padding-right: 0;
    }
  }

  .feedback__checkbox-label {
    padding-left: 79px;
  }

  /*Блок Опишите свои эмоции*/
  .feedback__comment-title {
    padding-left: 354px;

    &::before {
      top: 11px;
      width: 280px;
    }

    &::after {
      top: 11px;
      left: 681px;
      width: 279px;
    }
  }

  .feedback__comment-textarea {
    width: 99%;
  }

  .feedback__comment-send {
    width: 480px;
    padding-left: 28px;
  }

  .feedback__emotions-info {
    margin-left: 317px;
  }
}
