.interested__title {
  display: block;
  padding-top: 35px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin: 0;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
}
.interested__text {
  display: block;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 40px;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
.interested__link {
  .button-interested-style();
  &:hover {
    .button-hover();
  }
  &:active {
    .button-active();
  }
}
