.main__wrapper {
  width: 320px;
  height: 160px;
  margin-top: -32px;
  background:
    url("../../img/text-sedona.svg") no-repeat 49% 44%,
    url("../../img/bg-intro-triangle-mobile.svg") no-repeat 50% 100%,
    url("../../img/bg-back-mobile@1x.jpg") no-repeat 50% 100%;
  background-size: 229px 39px, 1200px 57px, 768px 389px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background:
      url("../../img/text-sedona.svg") no-repeat 49% 44%,
      url("../../img/bg-intro-triangle-mobile.svg") no-repeat 50% 100%,
      url("../../img/bg-back-mobile@2x.jpg") no-repeat 50% 100%;
    background-size: 229px 39px, 1200px 57px, 768px 389px;
  }
}

@media (min-width: @tablet-width) {
  .main__wrapper {
    width: 768px;
    height: 290px;
    margin-top: -33px;
    background:
      url("../../img/text-sedona.svg") no-repeat 51% 45%,
      url("../../img/bg-intro-triangle-tablet.svg") no-repeat 50% 100%,
      url("../../img/bg-back-tablet@1x.jpg") no-repeat 50% 100%;
    background-size: 460px 80px, 768px 57px, 768px 517px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background:
        url("../../img/text-sedona.svg") no-repeat 51% 45%,
        url("../../img/bg-intro-triangle-tablet.svg") no-repeat 50% 100%,
        url("../../img/bg-back-tablet@2x.jpg") no-repeat 50% 100%;
      background-size: 460px 80px, 768px 57px, 768px 517px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main__wrapper {
    width: 1200px;
    height: 301px;
    margin-top: 0;
    background:
      url("../../img/text-sedona.svg") no-repeat 50% 46%,
      url("../../img/bg-intro-triangle-desktop.svg") no-repeat 50% 100%,
      url("../../img/bg-back-desktop@1x.jpg") no-repeat 0 100%;
    background-size: 460px 79px, 1200px 57px, 1200px 518px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background:
        url("../../img/text-sedona.svg") no-repeat 50% 46%,
        url("../../img/bg-intro-triangle-desktop.svg") no-repeat 50% 100%,
        url("../../img/bg-back-desktop@2x.jpg") no-repeat 0 100%;
      background-size: 460px 79px, 1200px 57px, 1200px 518px;
    }
  }
}
