.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.9;
}

.page-footer__tag {
  display: block;
  width: 136px;
  padding-top: 32px;
  text-align: center;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.24;
  font-size: 21px;
  text-decoration: none;
  color: #000000;

  &--form {
    padding-top: 0;
  }
}

.page-footer__social {
  padding-top: 36px;
}

.page-footer__copyright {
  position: relative;
  display: flex;
  width: 135px;
  align-items: center;
  padding-top: 35px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    min-width: 768px;
    min-height: 120px;
    margin: 0;
    padding-right: 60px;
    padding-left: 60px;
  }

  .page-footer__tag {
    padding-top: 0;
  }

  .page-footer__social {
    padding: 0;
    padding-top: 6px;
  }

  .page-footer__copyright {
    display: flex;
    padding: 0;
  }

  .page-footer__text {
    padding-bottom: 0;
  }

  .copyright__text {
    padding-left: 8px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    justify-content: space-around;

    &--index {
      padding-top: 80px;
    }

    &--photo {
      padding-top: 78px;
    }
  }

  .page-footer__tag {
    padding-top: 0;
    padding-left: 21px;
  }

  .page-footer__social {
    padding-left: 14px;
  }

  .page-footer__copyright {
    width: 151px;
  }

  .copyright__text {
    padding-left: 0;
    padding-top: 3px;
  }

  .copyright__link {
    position: relative;
  }

  .copyright__link-icon {
    position: absolute;
    top: 0;
    left: 1px;
    display: block;
    width: 33px;
    height: 35px;
  }
}
