.page-first {
  min-height: 389px;
  margin-top: -32px;
  background:
    url("../../img/text-sedona-index.svg") no-repeat 51% 51%,
    url("../../img/bg-intro-triangle-mobile.svg") no-repeat 50% 100%,
    url("../../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
  background-size: 282px 214px, 1200px 57px, 768px 389px;
}
