.page-first {
  min-height: 389px;
  margin-top: -32px;
  background:
    url("../../img/text-sedona-index.svg") no-repeat 51% 51%,
    url("../../img/bg-intro-triangle-mobile.svg") no-repeat 50% 100%,
    url("../../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
  background-size: 282px 214px, 1200px 57px, 768px 389px;
}

@media (min-width: @tablet-width) {
  .page-first {
    width: 768px;
    height: 518px;
    background:
      url("../../img/text-sedona-index.svg") no-repeat 50% 45%,
      url("../../img/bg-intro-triangle-tablet.svg") no-repeat 50% 100%,
      url("../../img/bg-back-tablet@1x.jpg") no-repeat 50% 0;
    background-size: 460px 350px, 1200px 57px, 768px 518px;
  }
}

@media (min-width: @desktop-width) {
  .page-first {
    width: 1200px;
    height: 518px;
    background:
      url("../../img/text-sedona-index.svg") no-repeat 50% 45%,
      url("../../img/bg-intro-triangle-desktop.svg") no-repeat 50% 100%,
      url("../../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
    background-size: 491px 350px, 1200px 57px, 1200px 518px;
  }

  .page-main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}
