.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.9;
}
.page-footer__tag {
  display: block;
  width: 136px;
  height: 16px;
  padding-top: 31px;
  padding-right: 93px;
  text-align: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  text-decoration: none;
  color: #000000;
}
.page-footer__social {
  padding-top: 41px;
}
.page-footer__copyright {
  padding-top: 51px;
}
.copyright__text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-bottom: 35px;
}
.copyright__link {
  content: url(../../img/logo-htmlacademy.svg);
  padding-left: 11px;
}
