.sedona-description {
  padding-top: 22px;
  padding-right: 33px;
  padding-bottom: 7px;
  padding-left: 32px;
  background-image: url("../../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 766px 37px;
  background-color: white;
}
.sedona-description__about {
  margin-bottom: 30px;
  text-align: center;
  line-height: 26px;
  font-family: "PTSans","Arial",sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.sedona-description__reasons {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
