.sedona-description {
  width: 100%;
  min-height: 150px;
  padding-top: 22px;
}
.sedona-description__about {
  margin-top: 18px;
  margin-bottom: 27px;
  text-align: center;
  line-height: 26px;
  font-family: "PTSans",Arial,sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.sedona-description__reasons {
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}
