.button-style() {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: @light-blue;
  outline: none;
  border: none;
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.button-hover() {
  color: #ffffff;
  background-color: #669ec0;
  cursor: pointer;
}

.button-active() {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/PTSansNarrow.woff2") format("woff2"), url("fonts/PTSansNarrow.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/PTSansNarrowBold.woff2") format("woff2"), url("fonts/PTSansNarrowBold.woff") format("woff");
}

